.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
  background-color: #20232a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

h1 {
  font-size: 2.5rem;
  color: #61dafb;
}
